/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************** Header *****************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.my_navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0077cc;
  text-decoration: none;
}

.my_nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my_nav-item {
  margin: 10px;
}

.my_nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: color 0.3s ease;
  font-size: 18px;
}

.my_nav-link:hover {
  color: #0077cc;
}

/**************************** Body *****************************/
body {
  font-family: Arial, sans-serif;
}

/* Main container */
.main_container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Adjust container size for larger screens */
@media (min-width: 1200px) {
  .main_container {
      width: calc(95% - 10px);
  }
}

/* Further adjust container size for smaller screens */
@media (max-width: 768px) {
  .main_container {
      width: calc(100% - 10px);
      padding: 10px;
  }
}

/* Full width for very small screens */
@media (max-width: 480px) {
  .main_container {
      width: 100%;
      padding: 5px;
  }
}