/* Footer */
.myfooter{
    /* padding: 10px 20px; */
    background-color: #f8f9fa;
    text-align: center;
    color: #6c757d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    text-align: center; 
    z-index: 1000;
}