html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the header */
header {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.my_navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0077cc;
  text-decoration: none;
}

.my_nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my_nav-item {
  margin: 10px;
}

.my_nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: color 0.3s ease;
}

.my_nav-link:hover {
  color: #0077cc;
  font-weight: bold;
}
