<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    @*This tag ensures that the browser renders the page at the correct width and scale for mobile devices*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Photo Gallery</title>

    @* For styling: I define my own in my_styles.css and site.css *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/my_styles.css" />
    <script src="~/js/my_scripts.js"></script> 
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="my-navbar">
            <div class="container-fluid">
                <a class="my_navbar-brand" href="/">Your Photo Gallery</a>
                <div> 
                    <ul class="my_nav-list">
                        <li class="my_nav-item">
                            <a class="my_nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="my_nav-item">
                            <a class="my_nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 

    <footer class="myfooter">
        <div class="container">
            &copy; @DateTime.Now.Year - Your Photo Gallery - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
